body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.infos {
  gap: 10px;
  display: flex;
}
.imagem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 200px;
}
.imagem img {
  height: 80px;
}
.contato {
  font-size: 14px;
  color: #d1d1d1;
  padding: 15px 20px 0px 20px;
  white-space: nowrap;
}
.area-restrita {
  font-weight: bold;
  border: 1px solid #0080c1;
  background: #fff;
  color: #0080c1;
  padding: 1px 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}
.area-restrita:hover {
  background-color: #0080c1;
  color: white;
}
.atividade4 {
  margin: 20px;
}
.atividade5 {
  margin: 20px;
}
.atividade1 {
  margin: 20px;
}
.atividade2 {
  margin: 20px;
}
.atividade3 {
  margin: 20px;
}

.nav {
  background-color: #007bff;
  gap: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  transition: 0.5s;
}
a:visited {
  color: white;
}
